*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul,
ol,
button,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
time,
small {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
}

@media (any-hover: hover) {
  a:hover {
    cursor: pointer;
  }
}

a {
  -webkit-tap-highlight-color: transparent;
}

button {
  -webkit-tap-highlight-color: transparent;
}

#baby-skincare ul li{
	list-style: none;
}

#baby-skincare img{
	-webkit-box-shadow: none;
	        box-shadow: none;
	border: none;
}