@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1100px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 35px;
$padding-sp: 20px;

////////////////////
// フォント設定
////////////////////

:root {
  --font-family-base: "Noto Sans JP", sans-serif;
  --font-family-second: "Inter", sans-serif;
}
// ※検証ツールでしっかり反映されているか確認する


// フォントウェイト
:root {
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-normal: 500;
  --font-weight-bold: 700;
}

// フォントサイズ
:root {
  /* 本文用フォントサイズ（小→大） */
  --fs-body-xxxs: clamp(8px, calc(8px + (2 * ((100vw - 320px) / 55))), 10px);
  --fs-body-xxs: clamp(9px, calc(9px + (2 * ((100vw - 320px) / 55))), 11px);
  --fs-body-xs: clamp(10px, calc(10px + (2 * ((100vw - 320px) / 55))), 12px);
  --fs-body-sm: clamp(11px, calc(11px + (2 * ((100vw - 320px) / 55))), 13px);
  --fs-body-md: clamp(12px, calc(12px + (2 * ((100vw - 320px) / 55))), 14px);
  --fs-body-lg: clamp(14px, calc(14px + (2 * ((100vw - 320px) / 55))), 16px);
  --fs-body-xl: clamp(14px, calc(14px + (3 * ((100vw - 320px) / 55))), 17px);
  --fs-body-xxl: clamp(18px, calc(18px + (2 * ((100vw - 320px) / 55))), 20px);
  
  /* 見出し */
  --fs-heading-jp: clamp(18px, calc(18px + (2 * ((100vw - 320px) / 55))), 20px);
  --fs-heading-jp-sm: clamp(15px, calc(15px + (2 * ((100vw - 320px) / 55))), 17px);
  --fs-heading-en: clamp(58px, calc(58px + (2 * ((100vw - 320px) / 55))), 60px);
  --fs-heading-en-sm: clamp(39px, calc(39px + (2 * ((100vw - 320px) / 55))), 41px);
}

@media (min-width: 768px) {
  :root {
    /* 本文用フォントサイズ（小→大） */
    --fs-body-xxxs: clamp(8px, calc(8px + (2 * ((100vw - 768px) / 672))), 10px);
    --fs-body-xxs: clamp(9px, calc(9px + (2 * ((100vw - 768px) / 672))), 11px);
    --fs-body-xs: clamp(10px, calc(10px + (2 * ((100vw - 768px) / 672))), 12px);
    --fs-body-sm: clamp(11px, calc(11px + (2 * ((100vw - 768px) / 672))), 13px);
    --fs-body-md: clamp(12px, calc(12px + (2 * ((100vw - 768px) / 672))), 14px);
    --fs-body-lg: clamp(14px, calc(14px + (2 * ((100vw - 768px) / 672))), 16px);
    --fs-body-xl: clamp(16px, calc(16px + (2 * ((100vw - 768px) / 672))), 18px);
    --fs-body-xxl: clamp(17px, calc(17px + (3 * ((100vw - 768px) / 672))), 20px);
  
    /* 見出し */
    --fs-heading-jp: clamp(21px, calc(21px + (2 * ((100vw - 768px) / 672))), 23px);
    --fs-heading-en: clamp(80px, calc(80px + (20 * ((100vw - 768px) / 672))), 100px);
  }
  
}

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
:root {
  --black: #000;
  --white: #fff;
  --text-black: #333;
  --title-black: #111;
  --text-gray: #7A7A7A;
  --bg-color: #EBF8FF;
  --gradient-color: linear-gradient(166deg, #FFF 2.07%, #E5F2FC 89.82%);
  --text-shadow: 0 4px 12px rgba(134, 164, 175, 0.04);
  --shadow-light-blue: 0 4px 12px 0 rgba(153, 206, 226, 0.63);
  --main-color: #649BB1;
  --main2-color: #95C2D3;
  --main-sub: #D9D9D9;
  --main-color-light: #DDF1FB;
  --text-light-blue: #BDD9E6;
}

////////////////////
// z-index
///////////////////

:root {
  --z-index-header: 100;
  --z-index-to-top: 200;
  --z-index-drawer: 1000;
  --z-index-modal: 10000;
}

////////////////////
// 余白
///////////////////

:root {
  --section-padding-block: calc(50 / 16 * 1rem);
}
@media (min-width: 767px) {
  :root {
    --section-padding-block: 
      clamp(130px, calc(130px + (30 * ((100vw - 768px) / 672))), 160px)
      clamp(50px, calc(50px + (30 * ((100vw - 768px) / 672))), 80px);
  }
}

////////////////////
// レスポンシブ
///////////////////
:root {
  --fluid-basis-mobile: (100vw - 320px) / (375 - 320);
  --fluid-basis: (100vw - 768px) / (1440 - 768);
  --fluid-basis-2: (100vw - 1440px) / (1800 - 1440);
}

////////////////////
// アニメーション設定
///////////////////

:root {
  --duration-short: 0.2s;
  --duration-base: 0.3s;
  --duration-long: 0.6s;
  --duration-fv: 0.7s;

  --ease-smooth-bounce: cubic-bezier(.48, .07, .33, .79);
}

////////////////////
// bodyの指定
////////////////////

body {
  color: var(--text-black);
  font-family: var(--font-family-base);
}