@use "global" as *;
#baby-skincare {
.baby-skincare-title {
text-align: center;
}

.baby-skincare-title.is-active {
  & .baby-skincare-title__en-line,
  & .baby-skincare-title__jp-line,
  & .baby-skincare-title__sub-line {
    translate: 0 0;
  }
  & .baby-skincare-title__jp-line {
    transition-delay: 0.1s;
  }
  & .baby-skincare-title__sub-line {
    transition-delay: 0.2s;
  }
}

.baby-skincare-title__en-line,
.baby-skincare-title__jp-line,
.baby-skincare-title__sub-line {
  display: inline-block;
  translate: 0 100px;
  transition: translate .7s ease-out;
}
.baby-skincare-title__en {
  color: #D6EEFA;
  text-shadow: var(--text-shadow);
  font-size: var(--fs-heading-en);
  font-weight: var(--font-weight-light);
  line-height: 1.5;
  letter-spacing: 0.2em;
  overflow: hidden;
  @include mq('md') {
  line-height: 1.1;
  }
  &.baby-skincare-title__en-sm {
    @media (max-width: 767px) {
      font-size: var(--fs-heading-en-sm);
      line-height: 2.19512;
    }
  }
}

.baby-skincare-title__jp {
  color: var(--main-color);
  text-align: center;
  font-size: var(--fs-heading-jp);
  font-weight: var(--font-weight-normal);
  line-height: 1.35;
  letter-spacing: 0.04em;
  overflow: hidden;
  @include mq('md') {
  margin-top: 6px;
  }
  &.baby-skincare-title__jp-sm {
    @media (max-width: 767px) {
      font-size: var(--fs-heading-jp-sm);
    }
  }
}

.baby-skincare-title__sub {
  color: var(--main-color);
  text-align: center;
  font-size: var(--fs-body-md);
  font-weight: var(--font-weight-regular);
  line-height: 1;
  letter-spacing: 0.04em;
  margin-top: 5px;
  overflow: hidden;
  @include mq('md') {
  margin-top: 8px;
  }
}

.baby-skincare-title--how-to-use .baby-skincare-title__en {
  letter-spacing: 0.05em;
}

}