@use "global"as *;

#baby-skincare {

  .baby-skincare-fv {
    position: relative;
  }

  .baby-skincare-nav {
    position: absolute;
    top: 55%;
    left: 50%;
    translate: -50% 0;
    height: 100%;
    z-index: 1;
  }

  .baby-skincare-nav__inner {}

  .baby-skincare-nav__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
@media (max-width: 767px) {
max-width: 500px;
width: 100vw;
padding-inline: 20px;
}
    @include mq('md') {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .baby-skincare-nav__item {}

  .baby-skincare-nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--main-color);
    font-size: var(--fs-body-xl);
    font-weight: 400;
    letter-spacing: calc(var(--fs-body-xl) * 0.04);
    border-radius: calc(infinity * 1px);
    opacity: 0.84;
    background-color: #FFF;
    box-shadow: var(--shadow-light-blue);
    position: relative;
    transition: background-color var(--duration-base) ease-in-out, color var(--duration-base) ease-in-out;
    width: 100%;
    padding-inline: 45px;
    height: 50px;
    line-height: 1.3;

    @include mq('md') {
      width: clamp(310px, calc(310px + 100 * var(--fluid-basis)), 410px);
    }
  }

  @media (any-hover: hover) {
    .baby-skincare-nav__link:hover {
      background-color: color-mix(in srgb, var(--main-color) 50%, transparent);
      color: #FFF;

      &::before {
        background-color: #ffffff;
        left: 24px;
      }

      &::after {
        background-color: color-mix(in srgb, var(--main-color) 50%, transparent);
        left: 33px;
      }
    }
  }
}

.baby-skincare-nav__link::before {
  content: '';
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 17px;
  width: 25px;
  height: 25px;
  background-color: var(--main-color);
  border-radius: calc(infinity * 1px);
  transition: background-color var(--duration-base) ease-in-out, left var(--duration-base) ease-in-out .2s;
}

.baby-skincare-nav__link::after {
  content: '';
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 26px;
  width: 7px;
  height: 7px;
  background-color: #FFF;
  border-radius: calc(infinity * 1px);
  transition: background-color var(--duration-base) ease-in-out, left var(--duration-base) ease-in-out .2s;
}